* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
  width: 98vw;
}

.header {
  min-height: 75px;
}

.header_bc {
  background: #222222;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a,
img {
  display: block;
}

#burger {
  display: none;
}

[for=burger] {
  display: block;
  width: 32px;
  height: 23px;
}

.hamburger-menu {
  display: flex;
  align-items: center;
  padding: 30px 20.5px 22px 20.5px;
  position: relative;
}

#burger:checked+label+.menu {
  display: block;
  position: absolute;
  width: 232px;
  height: 634px;
  top: 81px;
  background: #FFFFFF;
}

.menu {
  display: none;
}

.nav {
  display: flex;
  justify-content: center;
}

.header__left {
  display: flex;
  justify-content: flex-start;
}

.header-logo__link {
  padding: 18px 20px 19px 20px;
}

.header-loupe__link {
  padding: 28px 20px 20px 20px;
}

.nav__link_cabinet {
  padding: 26px 12.5px 26px 12.5px;
}

.nav__link_cart {
  padding: 26px 29px 20px 29.5px;
}

.menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li>a {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #6F6E6E;
  padding-left: 53.5px;
}

.menu__main-heading {
  text-transform: uppercase;
  padding-left: 33px;
  margin-top: 32px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.menu__heading {
  text-transform: uppercase;
  padding-left: 32px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
}

.brand {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);
}

.brand_bc {
  background: #F1E4E6;
}

.brand__pic,
.brand__dsc {
  width: 50%;
  height: 764px;
}

.brand__img {
  max-width: 800px;
  max-height: 764px;
}

.brand__dsc {
  padding-left: 64px;
  padding-top: 290px;
}

.brand__heading {
  border-left: 12px solid #F16D7F;
  max-width: 406px;
}

.brand__header {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  color: #222222;
  padding-left: 16px;
}

.brand__header_size {
  font-weight: 700;
  font-size: 32px;
  color: #222222;
}

.brand__header_c {
  color: #F16D7F;
}

.content {
  margin-top: 65px;
  display: flex;
  flex-direction: column;
}

.content__first {
  text-transform: uppercase;
  display: flex;
  gap: 2.6%;
}

.content__second {
  text-transform: uppercase;
  display: flex;
  padding-top: 30px;
}

.content__link {
  display: block;
  width: 31.6%;
}

.content__link:hover,
.content__link_second:hover {
  box-shadow: 10px 10px 10px gray;
}

.content__link_second {
  display: block;
  width: 100%;
}

.content_women {
  background: url("../img/Group36.jpg") center/cover no-repeat;
}

.content_men {
  background: no-repeat center/cover url("../img/Group37.jpg");
  background-size: cover;
}

.content_kids {
  background: no-repeat center/cover url("../img/Group38.jpg");
}

.content_accesories {
  background: no-repeat center/cover url("../img/Group39.jpg");
}

.content__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
}

.content__text_c {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #F16D7F;
}

.content__text_m1 {
  margin-top: 105px;
  margin-bottom: 105px;
}

.content__text_m2 {
  margin-top: 65px;
  margin-bottom: 65px;
}

.items {
  padding-top: 96px;
}

.items__header {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  color: #222222;
  text-align: center;
  margin: 0 0;
}

.items__info {

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #9F9F9F;
  text-align: center;
  margin-top: 6px;
  margin-bottom: 18px;
}

.items__link {
  display: block;
  width: 360px;
  height: 592px;
  display: flex;
  margin-top: 30px;
}

.items-link__header {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  margin: 25px 0 16px 16px;
}

.items-link__text {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  margin: 16px 16px 0 16px;
}

.items-link__cost {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  padding: 18px 0 19px 16px;
  margin: 0;
}

.items__first {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.items__figcaption {
  background: #F8F8F8;
}

.items__box {
  display: flex;

  flex-direction: column;
  margin-bottom: 48.5px;
}

.items__figure {
  background: #F8F8F8;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.items__figurecaption {
  display: block;
}

.items__img {
  width: 100%;
}

.items__pic {
  position: relative;
  display: flex;
}

.items__pic img {
  position: absolute;
  left: 0;
  top: 0;
}

.items__img_hover {
  width: 100%;
  opacity: 0;
}

.items__img_hover:hover {
  opacity: 1;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.items__dsc {
  display: flex;
}

.button {
  border: 1px solid #FF6A6A;
  background: #FFFF;
  padding: 0;
}

.button:hover,
.button__text:hover {
  background: #F26376;
  color: #fff;
}

.items__button {
  display: flex;
  justify-content: center;
  margin-bottom: 95.5px;
}

.button__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  padding: 14.5px 38.5px 13.5px 38.5px;
  margin: 0;
}

.footer {
  background: #222224;
  padding-top: 103px;
}

.footer__block {
  display: flex;
  padding-bottom: 104px;
  justify-content: center;
  align-content: center;
  gap: 2.6%;
}

.footer__block1,
.footer__block2,
.footer__block3,
.footer__img {
  text-align: center;
  justify-content: center;
}

.footer__block1,
.footer__block2,
.footer__block3 {
  width: 31.6%;
}

.footer__header {
  font-style: normal;
  font-weight: 400;
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
}

.footer__pic {
  display: flex;
  justify-content: center;
}

.footer__header_free {
  margin-top: 28px;
  margin-bottom: 0;
}

.footer__header_sales {
  margin-top: 19px;
  margin-bottom: 0;
}

.footer__header_quality {
  margin-top: 25px;
  margin-bottom: 0;
}

.footer__text {
  margin-top: 16px;
  margin-bottom: 0;
  font-style: normal;
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
}

.footer__container {
  background: url("../img/photo subscribe.jpg") center/cover no-repeat;
  height: 448px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.container__photo {
  padding-top: 87px;
  justify-content: center;
}

.container__pic {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  max-width: 360px;
}

.container__text {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
}

.container__dsc {
  padding-top: 150px;
  justify-content: center;
  max-width: 560px;
}

p {
  margin: 0;
}

.container__subscribe {
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #222224;
  margin-bottom: 32px;
}

.container__subscribe_fs {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  color: #222224;
}

form {
  display: flex;
}

.input__first {
  width: 256px;
  height: 49px;
  padding: 7px 64px 6px 22px;
  margin-right: 0;
  border: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: #222224;
  opacity: 0.67;
  border-radius: 30px 0 0 30px;
  background: #E1E1E1;
}

.input__second {
  width: 100px;
  height: 49px;
  margin-left: 0;
  background: #E05C6E;
  border: none;
  border-radius: 0 30px 30px 0;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input__second:hover {
  opacity: 0.9;
}

.container__input {
  display: flex;
}

.footer__info {
  display: flex;
  justify-content: space-between;
  height: 79px;
}

.info__brand {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
  padding-top: 30px;
}

.info__brand_p {
  margin: 0;
}

.footer__nav {
  display: flex;
  margin-top: 24px;
}

.nav__block {
  width: 31.45px;
  height: 32px;
  background: #FFFFFF;
  margin-left: 7.29px;
  display: flex;
  justify-content: center;
  align-items: center;
}

svg:hover,
.nav__block:hover {
  fill: #FFFFFF;
  background: #F16D7F;
}

@media(max-width: 1200px) {
  .center {
    padding-left: calc(50% - 48%);
    padding-right: calc(50% - 48%);
    width: 100vw;
  }

  #burger:checked+label+.menu {
    right: 0%;
  }



  .brand {
    display: flex;
    flex-wrap: wrap;
    padding-left: calc(50% - 384px);
    padding-right: calc(50% - 384px);
    height: 368px;
  }

  .brand__pic {
    width: 50.3%;
    height: 368px;
  }

  .brand__dsc {
    width: 49.7%;
    height: 368px;
  }

  .brand__img {
    width: 100%;
  }

  .brand__dsc {
    padding-left: 39px;
    padding-top: 138px;
  }

  .brand__heading {
    max-width: 310px;
  }

  .brand__header {
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    margin: 0;
  }

  .brand__header_size {
    font-weight: 700;
    font-size: 24px;
  }

  .items__link {
    display: block;
    max-width: 360px;
    min-height: 592px;
    display: flex;
    margin-top: 16px;
  }

  .content__first {
    gap: 2.3%;
  }

  .content__link {
    width: 31.8%;
    margin-top: 17px;
  }

  .content__second {
    padding-top: 20px;
  }

  .items {
    padding-top: 110px;
  }

  .items__box {
    margin-bottom: 33px;
  }

  .items__info {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #9F9F9F;
    text-align: center;
    margin-top: 4px;
    margin-bottom: 56px;
  }

  .items__first {
    display: flex;
    gap: 1.7%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .items__figure {
    width: 100%;
    display: flex;
    height: 592px;
  }

  .items__pic {
    width: 100%;
  }

  .items__button {
    margin-bottom: 65px;
  }

  .footer {
    padding-top: 0;
  }

  .footer__block {
    flex-direction: column;
    padding-bottom: 64px;
    align-items: center;
  }

  .footer__block1, .footer__block2, .footer__block3 {
    margin-top: 48px;
  }

  .footer__container {
    flex-direction: column;
    flex-wrap: nowrap;
    height: 614px;
    justify-content: flex-start;
    align-items: center;
  }

  .container__photo {
    padding-top: 54px;
  }

  .container__dsc {
    padding-top: 48px;
  }

  .container__subscribe {
    margin-bottom: 27px;
  }
}

@media(max-width: 767px) {
  .nav__link_cabinet {
    display: none;
  }

  .nav__link_cart {
    display: none;
  }

  #burger:checked+label+.menu {
    width: 232px;
    height: 500px;
    right: 0%;
    top: 77px;
  }

  .brand {
    display: flex;
    flex-wrap: wrap;
    padding-left: calc(50% - 48%);
    padding-right: calc(50% - 48%);
    height: 363px;
  }

  .brand__pic {
    display: none;
  }

  .brand__dsc {
    width: 96%;
    height: 363px;
  }

  .brand__heading {
    max-width: 96%;
  }

  .brand__header {
    font-size: 38px;
    padding-left: 15px;
  }

  .brand__header_size {
    font-size: 20px;
  }

  .brand__dsc {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .content {
    margin-top: 32px;
  }

  .content__first {
    flex-direction: column;
    align-items: center;
  }

  .content__second {
    display: flex;
    padding-top: 32px;
  }

  .content__link {
    width: 100%;
    margin-top: 32px;
    padding-top: 0;
  }

  .content__link:hover,
  .content__link_second:hover {
    transform: none;
  }

  .content__link_second {
    width: 100%;
    height: 111px;
  }

  .content__text_m2 {
    margin-top: 33px;
    margin-bottom: 33px;
  }

  .items {
    padding-top: 64px;
  }

  .items__box {
    margin-bottom: 41px;
  }

  .items__info {
    margin-bottom: 48px;
  }

  .items__button {
    margin-bottom: 97px;
  }

  .footer__block {
    padding-bottom: 81px;
  }

  .footer__block1,
  .footer__block2,
  .footer__block3 {
    width: 96%;
  }

  .footer__container {
    height: 550px;
    padding-bottom: 110px;
  }

  .container__photo {
    padding-top: 54px;
  }

  .container__dsc {
    padding-top: 59px;
  }

  .container__subscribe {
    margin-bottom: 22px;
    font-size: 14px;
    display: flex;
    justify-content: center;
  }

  .input__first {
    width: 220px;
    height: 47px;
    padding: 7px 61px 6px 21px;
  }

  .input__second {
    width: 96px;
    height: 47px;
  }

  .footer__info {
    display: flex;
    height: 143px;
    align-items: center;
  }

  .info__brand {
    padding-top: 40px;
    padding-bottom: 10px;
  }

  .footer__nav {
    display: flex;
    margin-top: 43px;
  }

  .nav__block {
    justify-content: center;
    align-items: center;
  }


}